.h1 {
  font-size: 32px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-family: "Nunito Sans";
  font-weight: 900;
  color: #222222;
  text-rendering: optimizeLegibility;
}

.h2 {
  font-size: 25px;
  margin-top: 64px;
  margin-bottom: 12px;
  font-family: "Nunito Sans";
  font-weight: 700;
  color: #222222;
}

.para {
  font-size: 20px;
  margin-bottom: 32px;
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #222222;
}

blockquote .para {
  /* background: #DFEBF6; */
  font-size: 17px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
  border-left: 6px solid green;
}

.postHeaderContainer {
  margin-bottom: 96px;
  margin-top: 64px;
  text-align: center;
}

.postHeader {
  font-size: 48px;
  font-weight: bold;
  font-family: "Nunito Sans";
  color: #222222;
}

.postSubheader {
  font-size: 14;
  font-family: "Merriweather";
  font-weight: 100;
  color: #444444;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postSubheader a {
  color: #4285f4;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 6px;
}

.heroImage {
  background-size: contain;
  object-fit: cover;
  width: 100%;
  max-height: 60vh;
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  border-radius: 8px;
}

.img {
  width: 80%;
  align-items: center;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
